{% extends "orga/cfp/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load rules %}
{% load url_replace %}
{% load pretalx_hitalx %}

{% block content %}
    <h2>
        {{ page_obj.paginator.count }}
        {% blocktranslate trimmed count count=page_obj.paginator.count %}
            submitter
        {% plural %}
            submitters
        {% endblocktranslate %}
    </h2>

    <div class="submit-group search-submit-group">
        <form class="search-form">
            {% bootstrap_form search_form %}
            {% bootstrap_form filter_form %}
            <button class="btn btn-info btn-search" type="submit">{% translate "Search" %}</button>
        </form>
    </div>
    {% if filter_form.is_valid and filter_form.cleaned_data.question %}
        <p class="text-muted ml-2">
            <span class="fa fa-filter"></span>
            {% blocktranslate trimmed with question=filter_form.cleaned_data.question.question %}
                List filtered by answers to question "{{ question }}".
            {% endblocktranslate %}
            <a href="?{% url_replace request 'question' '' 'answer' '' 'answer__options' '' %}" class="text-muted">
                <span class="fa fa-times"></span>
                {% translate "Remove filter" %}
            </a>
        </p>
    {% endif %}
    {% has_perm 'orga.mark_speakers_arrived' request.user request.event as can_mark_speaker %}
    {% has_perm 'orga.see_speakers_arrival' request.user request.event as can_see_speaker_status %}
    <div class="table-responsive">
        <table class="table table-sm table-hover table-flip">
            <thead>
                <tr>
                    <th>{% translate "Name" %}</th>
                    <th>{% translate "Expenses (Paid / Total)" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for profile in speakers %}
                    <tr>
                        <td><a href="{{ profile.orga_urls.base }}">{{ profile.user.get_display_name }}</a></td>
                        <td><a href="{% url "plugins:pretalx_hitalx:expenses.view" event=request.event.slug speaker_id=profile.user.id %}">{{ profile.user | total_expenses }} / {{ profile.user | total_expenses }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "orga/pagination.html" %}
{% endblock %}
