{% extends "orga/base.html" %}
{% load i18n %}
{% load rules %}
{% load static %}



{% block title %}
  {% if form.instance.pk %}
    {% translate 'Tour: ' %}{{ form.instance.description }}
  {% else %}
    {% translate 'New Tour' %}
  {% endif %}
{% endblock %}
{% block content %}
  <h2>

    {% if form.instance.pk %}
      {% translate 'Tour: ' %}{{ form.instance.description }}
    {% else %}
      {% translate 'New Tour' %}
    {% endif %}
  </h2>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.as_p }}

    <div class="submit-group panel">
      <span>
      </span>
      <span>
        <button type="submit" class="btn btn-success btn-lg">
            <i class="fa fa-check"></i>
            {% translate "Save" %}
        </button>
      </span>
    </div>
  </form>
{% endblock %}
